
button {
  border: none;
  background: transparent;
  color: var(--white);
}

#btn-go {
  font-size: 1.5em;
  padding: 5px 10px;
  transition: color .2s ease-in-out;
  &:hover {
    cursor: pointer;
    color: var(--stop-btn);
  }
  &:hover:not(.stop-btn) {
    color: var(--sorting-bar);
  }
}
.select-section.algorithm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  button {
    margin: 5px;
    transition: opacity 0.2s ease-in-out;
    font-size: 20px;
    &:not(.selected) {
      opacity: 0.7;
    }
    &:hover {
      opacity: 1;
    }
  }
}

.select-section {
  width: 80vw;
  max-width: 600px;
  background-color: var(--box-bg);
  border-radius: 10px;
  padding: 14px 20px;
  margin: 10px 0;
}

.slider {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  p {
    color: var(--slider-bg);
    font-size: 16px;
  }
}

label {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  font-size: 18px;
}

.select-section {
  transition: opacity 0.2s ease-in-out;
  &.disabled {
    opacity: 0.8;
    &:hover, label, div {
      cursor: not-allowed;
      pointer-events:none;
    }
  }

}

@media screen and (max-width: 620px) {
  .select-section {
    width: calc(100vw - 40px);
    border-radius: 0;
    margin: 0;
    padding-bottom: 40px;
  }
}