.range-slider {
  background-color: var(--slider-bg-unactive);
  border-radius: 20px;
  position: relative;
}

.range-slider-thumb {
  position: absolute;
  top: -4px;
  -webkit-appearance: none;
  background-color: var(--white);
  height: 14px;
  width: 14px;
  border-radius: 50%;
  transition: box-shadow .2s ease-in-out;
  cursor: ew-resize;
  &:hover {
    box-shadow: 0 0 0 0.3rem rgba(#fff, 0.5);
  }
  &:active {
    box-shadow: 0 0 0 0.5rem rgba(#fff, 0.5);
  }
}

.range-slider-fill {
  position: absolute;
  background-color: var(--slider-bg);
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.range-slider-horizontal {
  height: 5px;
  width: 100%;
}