/* Variables */

:root {
  @media (max-width: 640px) {
    --bg: #424242;
    --box-bg: #383838;
  }
  --bg:#333333;
  --box-bg:#2B2B2B;
  --white:#FFFFFF;
  --sorting-bar:#C5FE93;
  --stop-btn: #fe93c3;

  --slider-bg:#F4F4F4;
  --slider-handler: var(--white);
  --slider-bg-unactive: #959595;
}


