#view {
  display: flex;
  position: absolute;
  align-items: flex-end;
  flex-wrap: nowrap;
  width: 100%;
  padding: 20px;
  justify-content: center;
  flex-shrink: 2;
  max-width: 600px;
  height: 40%;

  &:not(.running) {
    .bar {
      transition: opacity .2s ease-in-out;
    }
  }
}

.bar {
  background-color: var(--sorting-bar);
  position: relative;
  width: 20px;
  box-shadow: var(--sorting-bar) 0px 0px 10px;
  transition: left .2s ease-in-out;
  margin: 1px;
  opacity: .4;
}

.bar.highlight {
  opacity: 1;
}